body {
    background-image:url('img5.avif');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #para2{
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px; 
    bottom: 100px;  
    }
#para1{
    color:white;
    position: absolute;
    top: 10px;
    bottom: 500px;
    left: 100px;
    right: 280px;
    border: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

    #img11{
    
        border: solid 2px;
        height: 115px;
        width: 115px;
        position: absolute;
        bottom: 0;
        left: 0;
        
        }
        #img2{
          float: left;
          padding: 20px;
          height: 400px;
          width: 350px;
        }

   #img4{
    float: left;
    padding: 20px;
    height: 400px;
    width: 350px;
    
   }    
   
   #img6{
    float: left;
    padding: 20px;
    height: 400px;
    width: 400px;
   }   
   
   #img10{
    float: center;
    padding: 20px;
    height: 400px;
    width: 400px;
   } 
   
   .footer {
    background-color: #0ee620;
    text-align: right;
    padding: 10px;
  }
  #pra{
    color: white;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  h2{
    color: yellow;
    display: flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: 670px;
    left: 400px;
    right: 79px; 
    bottom: 500px;  
  }
  #pr{
    color: white;
    position: absolute;
    top: 700px;
    left: 400px;
    right: 30px; 
    bottom: 500px; 
    display: flex;
    justify-content: right;
    align-items: right;
  }
  #p5{
    
    color: white;
    position: absolute;
    top: 870px;
    left: 400px;
    right: 30px; 
    bottom: 500px; 
    display: flex;
    justify-content: right;
    align-items: right;
    
  }
  #p6{
    color: yellow;
    position: absolute;
    top: 970px;
    left: 400px;
    right: 30px; 
    bottom: 500px;  

  }
  #p7{
    color: red;
  }
  #p8{
    color: white;
    position: absolute;
    top: 1500px;
    left: 400px;
    right: 30px; 
    bottom: 500px; 
    display: flex;
    justify-content: right;
    align-items: right;
  }
  #p9{
    color: yellow;
    position: absolute;
    top: 1650px;
    left: 400px;
    right: 30px; 
    bottom: 500px;  

  }
  #p10{
    color: red;
  }
  #p11
  {
    display: flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: 570px;
    left: 400px;
    right: 79px; 
    bottom: 500px;  
    height: 100px;
    width: 100px;
  }
  #p12
  {
    display: flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: 570px;
    left: 600px;
    right: 79px; 
    bottom: 500px;  
    height: 100px;
    width: 100px;
  }
  #p13
  {
    display: flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: 570px;
    left: 800px;
    right: 500px; 
    bottom: 500px;  
    height: 100px;
    width: 100px;
  }
